# Ignore VSCode workspace settings
.vscode/

# Ignore compiled Python files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore environment files
config/.env

# Ignore specific .sql script in scripts folder
scripts/init_database.sql
scripts/quality_check_bronze.sql

# Ignore the gitignore script as well
.gitignore